<div class="row">
    <h1>Proyectos</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproy" *ngIf="isLogged">
            <i class="bi bi-plus-square"></i>
            Nuevo proyecto
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proy">
                    <td>{{Proyecto.nombreProy}}</td>
                    <td>{{Proyecto.descriProy}}</td>
                    <td>{{Proyecto.imgProy}}</td>
                    <td>{{Proyecto.linkProy}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editproy/{{Proyecto.id}}">
                        <i class="bi bi-pencil-square"></i>Editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                            <i class="bi bi-trash-fill"></i> Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 
</div>