<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Colegio Pre-Universitario Escuela de Comercio Libertador Gral. San Martín</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore error blanditiis neque veritatis, modi, ipsum mollitia officiis corrupti sint eligendi soluta tempore molestias tempora iure quos minima reiciendis doloremque id.</p>
        </ul>
        <ul>
            <li>
                <h1>Universidad Nacional de San Juan, Lic. en Trabajo Social</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore error blanditiis neque veritatis, modi, ipsum mollitia officiis corrupti sint eligendi soluta tempore molestias tempora iure quos minima reiciendis doloremque id.</p>
        </ul>
        <ul>
            <li>
                <h1>Universidad Nacional de San Juan, Prof. de Teatro</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore error blanditiis neque veritatis, modi, ipsum mollitia officiis corrupti sint eligendi soluta tempore molestias tempora iure quos minima reiciendis doloremque id.</p>
        </ul>
        <ul>
            <li>
                <h1>Universidad Nacional de San Juan, Tecnicatura en Programación Web</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore error blanditiis neque veritatis, modi, ipsum mollitia officiis corrupti sint eligendi soluta tempore molestias tempora iure quos minima reiciendis doloremque id.</p>
        </ul>
        <ul>
            <li>
                <h1>Ministerio de Desarrollo Productivo, Argentina Programa</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore error blanditiis neque veritatis, modi, ipsum mollitia officiis corrupti sint eligendi soluta tempore molestias tempora iure quos minima reiciendis doloremque id.</p>
        </ul>
    </div>
</div>
