<div class="banner">
    <!-- PONER <img [src]="persona.imgbanner" alt="imagen banner" id="fotobanner" /> -->
   <img src="../../../assets/banner2v2.jpg" alt="imagen banner" class="img-fluid" id="fotobanner" />
</div>
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <!-- PONER <img [src]="persona.img" class="img-fluid" id="fotoperfil" /> -->
    <img src="../../../assets/fotoperfil1.jpg" alt="imagen perfil" class="img-fluid" id="fotoperfil" />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{ perso.nombre }} {{ perso.apellido }}</p>
    <p>{{ perso.titulo }}</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Sobre mí</h1>
      <p>{{ perso.sobremi }}</p>
    </span>
  </div>
</div>


