<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto_propia3.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
     <span>
         <h1>Sobre mí</h1>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro accusantium incidunt laudantium amet, temporibus nostrum quasi repudiandae quaerat vel architecto. Voluptates dolor assumenda sit cumque esse amet, laudantium aperiam totam?</p>
     </span>
    </div>
</div>
