<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="logoAP" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/ncarrasanperez"> <img src="../../../assets/facebook.png" alt="facebook"></a>
                <a href="https://github.com/NahMarc"> <img src="../../../assets/github.png" alt="github"></a>
                <a href="https://www.instagram.com/ncarrasanperez/"> <img src="../../../assets/instagram.png" alt="instagram"></a>
                <a href="https://www.linkedin.com/in/marcio-nahuel-carrasan-perez-76b394247/"> <img src="../../../assets/linkedin.png" alt="linkedin"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
            </div>
        </div>
    </div>
</div>

