<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Proyecto 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, quisquam? Doloribus commodi nihil fugiat facere, ullam maxime nesciunt delectus, similique inventore, veniam nisi quia quos molestias vitae? Harum, eligendi itaque?</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/08_am_by_monchini_d5lmllo-fullview.jpg" class="img-fluid img-proyecto">
        </div> 
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Proyecto 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, quisquam? Doloribus commodi nihil fugiat facere, ullam maxime nesciunt delectus, similique inventore, veniam nisi quia quos molestias vitae? Harum, eligendi itaque?</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/d9j5lf0-417f3f84-b451-49be-badb-f1b3ea85f148.jpg" class="img-fluid img-proyecto">
    </div> 
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Proyecto 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, quisquam? Doloribus commodi nihil fugiat facere, ullam maxime nesciunt delectus, similique inventore, veniam nisi quia quos molestias vitae? Harum, eligendi itaque?</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/_10_by_monchini_d9kl3lg-pre.jpg" class="img-fluid img-proyecto">
        </div> 
 </div>

