<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Coordinador Transporte Colonia de Verano San Juan</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore error blanditiis neque veritatis, modi, ipsum mollitia officiis corrupti sint eligendi soluta tempore molestias tempora iure quos minima reiciendis doloremque id.</p>
        </ul>
        <ul>
            <li>
                <h1>Administrativo en Programa de Microcréditos Solidarios Rawson</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore error blanditiis neque veritatis, modi, ipsum mollitia officiis corrupti sint eligendi soluta tempore molestias tempora iure quos minima reiciendis doloremque id.</p>
        </ul>
    </div>
</div>
