<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreInsti">Nombre de la institución educativa</label>
                    <input type="text" class="form-control" id="nombreInsti" name="nombreInsti" [(ngModel)] = "nombreInsti" required>
                </div>
                <div class="form-group">
                    <label for="nombreCarrera">Nombre de la carrera/curso realizado</label>
                    <input type="text" class="form-control" id="nombreCarrera" name="nombreCarrera" [(ngModel)] = "nombreCarrera" required>
                </div>
                <div class="form-group">
                    <label for="anoInicio">Año en que se inició la capacitación/cursado</label>
                    <input type="text" class="form-control" id="anoInicio" name="anoInicio" [(ngModel)] = "anoInicio" required>
                </div>
                <div class="form-group">
                    <label for="anoFin">Año en que se finalizó la capacitación/cursado</label>
                    <input type="text" class="form-control" id="anoFin" name="anoFin" [(ngModel)] = "anoFin" required>
                </div>
                <button class="btn btn-primary">
                    Agregar educación
                </button>
            </form>
        </div>
    </div>
</div>
